.text-anime {
    -webkit-animation: textColorChange 2s infinite;
    animation: textColorChange 2s infinite;
}

@-webkit-keyframes textColorChange {
    0% { color: magenta; }
    50% { color: blue; }
    100% { color: green; }
}

@keyframes textColorChange {
    0% { color: magenta; }
    50% { color: blue; }
    100% { color: green; }
}
